body {
    background-color: rgb(75, 73, 73);
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    color: white;
}
p {
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
div {
    background-color: rgb(119, 115, 115);
}